body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin: 0;
}

header {
    align-items: center;
    background-color: #adb5bd;
    display: flex;
    justify-content: space-between;
    height: 25vh;
    padding: 0 5px;
}

h1, nav{
    display: inline-block;
}

h1{
    color: #343a40;
    margin: 0;
}

nav{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 20%;
}

nav a{
    color: #e9ecef;
    font-size: 1rem;
    padding: 40px 5px;
    text-decoration: none;
}

nav a:hover{
    background-color: #343a40;
}

img{
    height: 300px;
    margin: 0 0 0 10px;
}

main{
    background-color: #dee2e6;
    display: flex;
    flex-flow: row-we;
    height: 60vh;
}

footer{
    background-color: #adb5bd;
    height: 15vh;
}