body {
    background-color: cadetblue;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.imagen {
    height: 200px;
}

nav a {
    color: #7fffd4;
    text-decoration: none;
}

nav a:hover {
    color: black;
    text-decoration: underline;
}

h1 , p , div, nav {
    text-align: center;
}

div {
    border: 1px solid black;
}

ul li:nth-child(odd){
    font-style: italic;
    color: darkgoldenrod;
}